.nav {
    margin-top: 10px;
    grid-area: n;
    background-color: #07ABE4;
    display: block;
    padding: 20px;
    
}



.item a{
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color:burlywood;
}