.appWrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas: 
      "h h"
      "n c";
  
      grid-template-rows: 100px 1fr;
      grid-template-columns: 2fr 10fr;
        /* grid-gap: 10px; */
    background: black;
  }

  .app-wrapper-content {
    margin-top: 10px;
    grid-area: c;
    background-color: #046A8D;
  }

  




